@import url("https://fonts.googleapis.com/css2?family=Limelight&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", serif;
  background-color: #f8f8f8;
  color: #333;
}

.favorites-page {
  text-align: center;
}

.favorite-movie-name {
  font-size: 30px;
  font-weight: 900;
  background: linear-gradient(60deg, #267167, #b0fefb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
}

.favorite-movie li {
  display: flex;
  align-items: center;
  width: 60vw;
  gap: 15px;
  padding: 15px;
  margin: 10px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.favorite-movie {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imdb-button {
  padding: 8px 12px;
  background-color: #267167;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.imdb-button:hover {
  background-color: #1f5e55;
}

.favorite-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60vw;
  gap: 15px;
  padding: 15px;
  margin: 10px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.movie-info {
  flex-grow: 1;
  text-align: left;
}